In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/alura-cursos/1576-mlops-machine-learning/aula-5/casas.csv"
df = pd.read_csv(url)

In [ ]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [ ]:
X = df.drop('preco', axis=1)
y = df['preco']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
import pickle

pickle.dump(model, open('model.sav', 'wb'))

In [ ]:
df.columns

Index(['tamanho', 'ano', 'garagem', 'preco'], dtype='object')

In [ ]:
import sklearn
sklearn.__version__

'1.0.2'